# Appwrite (Next.js style - recommended)
NEXT_PUBLIC_APPWRITE_PROJECT_ID = "69d8628f0027959a18a6"
NEXT_PUBLIC_APPWRITE_PROJECT_NAME = "template"
NEXT_PUBLIC_APPWRITE_ENDPOINT = "https://sgp.cloud.appwrite.io/v1"
NEXT_PUBLIC_APPWRITE_DATABASE_ID = ""
NEXT_PUBLIC_APPWRITE_TEMPLATE_COLLECTION_ID = ""
NEXT_PUBLIC_APPWRITE_TEMPLATE_BUCKET_ID = "69d8632d0005770f3f6a"
NEXT_PUBLIC_APPWRITE_TEMPLATE_BUCKET_NAME = "ML_Tapper"
NEXT_PUBLIC_FIREBASE_API_KEY = ""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = ""
NEXT_PUBLIC_FIREBASE_PROJECT_ID = ""
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "gs://data-ok-b4091.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_APP_ID = ""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = ""
NEXT_PUBLIC_GOOGLE_SHEET_IMAGE_ENDPOINT = "https://script.google.com/macros/s/AKfycbzuQk2jdWiJT8ANVR3XdoFQiWInwMGnJM9ZtHUHIf6MipXdNs5moRMx4NV-nXzfJ_6q/exec"

# Firebase Admin (server-only, jangan pakai NEXT_PUBLIC)
FIREBASE_STORAGE_BUCKET = "data-ok-b4091.firebasestorage.app"
FIREBASE_DATABASE_URL = "https://data-ok-b4091-default-rtdb.asia-southeast1.firebasedatabase.app"
FIREBASE_SERVICE_ACCOUNT_KEY_JSON = ""
FIREBASE_SERVICE_ACCOUNT_BASE64 = ""
FIREBASE_SERVICE_ACCOUNT_PATH = ""
FIREBASE_PROJECT_ID = ""
FIREBASE_CLIENT_EMAIL = ""
FIREBASE_PRIVATE_KEY = ""

# Appwrite (Vite-style fallback - supported in this project)
VITE_APPWRITE_PROJECT_ID = "69d8628f0027959a18a6"
VITE_APPWRITE_PROJECT_NAME = "template"
VITE_APPWRITE_ENDPOINT = "https://sgp.cloud.appwrite.io/v1"
VITE_APPWRITE_DATABASE_ID = ""
VITE_APPWRITE_TEMPLATE_COLLECTION_ID = ""
VITE_APPWRITE_TEMPLATE_BUCKET_ID = "69d8632d0005770f3f6a"
VITE_APPWRITE_TEMPLATE_BUCKET_NAME = "ML_Tapper"
VITE_FIREBASE_API_KEY = ""
VITE_FIREBASE_AUTH_DOMAIN = ""
VITE_FIREBASE_PROJECT_ID = ""
VITE_FIREBASE_STORAGE_BUCKET = "gs://data-ok-b4091.firebasestorage.app"
VITE_FIREBASE_APP_ID = ""
VITE_FIREBASE_MESSAGING_SENDER_ID = ""
VITE_GOOGLE_SHEET_IMAGE_ENDPOINT = "https://script.google.com/macros/s/AKfycbzuQk2jdWiJT8ANVR3XdoFQiWInwMGnJM9ZtHUHIf6MipXdNs5moRMx4NV-nXzfJ_6q/exec"
